  <header class="min-h-[calc(100vh-4rem)] flex items-center justify-center px-8 relative">
    <div class="flex flex-col md:flex-row items-center gap-14 max-w-6xl">
      <!-- Avatar -->
      <img src="assets/images/photo_profil_arthur_R.webp" alt="GreenBeard" class="w-80 h-96 md:w-80 md:h-96 mt-10 object-cover border border-green-700 shadow-xl rounded-xl" />

      <!-- Texte + bouton plus grands -->
      <div class="text-center md:text-left space-y-6">
        <h1 class="text-5xl md:text-6xl text-primary">Green Beard</h1>
        <p class="uppercase text-xl md:text-2xl tracking-wider text-gray-800 font-semibold">
          Créateur de lunettes
        </p>
        <button class="bg-secondary hover:bg-pink-400 text-white font-semibold px-8 py-4 rounded-full text-lg transition duration-300 shadow-md">
          Découvrez mes créations
        </button>
      </div>
    </div>

    <!-- Arrow scroll indicator -->
    <!-- <div class="absolute mt-10 bottom-6 left-1/2 transform -translate-x-1/2">
      <svg class="animate-bounce w-6 h-6 text-green-900" fill="none" stroke="currentColor" stroke-width="2"
        viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div> -->
  </header>
