<div *ngIf="isOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-60" (click)="closeModal()">
  <div class="relative w-[90%] max-w-3xl rounded-lg p-5 border-neutral-200 bg-white/90 backdrop-blur supports-[backdrop-filter]:bg-white/70 text-neutral-800" (click)="stopPropagation($event)">
    <button class="{{ buttonClass }}" (click)="closeModal()">✕</button>
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Image projet" class="{{ imageClass }}"/>
    <h2 class="{{ titleClass }}">{{ title }}</h2>
    <p class="{{ descriptionClass }}">{{ description }}</p>
    <p class="{{ descriptionShortClass }}">{{ descriptionShort }}</p>
  </div>
</div>