<div class="{{containerClass}}">

  <div class="{{ imageContainerClass }}">
    <img src="{{imageUrl}}" alt="{{imageAlt}}" class="{{imageClass}}" />
  </div>

  <div class="">
    <h2 class="{{ titleClass }}">{{ title }}</h2>
    <p *ngIf="showDescription" class="{{ descriptionClass }}">{{ description }}</p>
    <p *ngIf="showDescriptionShort" class="{{ descriptionShortClass }}">{{ descriptionShort }}</p>
    <a [routerLink]="navigateTo" class="{{buttonClass}}">{{ buttonText }}</a>
  </div>

</div>